---
import { Image } from 'astro:assets';
import Bruiser from '../assets/bruiserandkathy.jpg';
import MissionDogs from '../assets/mission-dogs.jpg';
import Layout from '../layouts/main.astro';
---

<Layout>
    <a href="/donate" role="button" class="inline-block bg-[#397367]
    hover:bg-transparent text-white hover:text-green-900
    border-[#397367] border my-12 p-6
    shadow-2xl rounded-full transition-colors duration-500">
    Get Involved Today
  </a>
</Layout>
