---
const today = new Date();
---

<footer class="mt-14 bg-[#397367] pt-10">
  <div>
    <div class="flex px-8">
      <div class="w-1/2 lg:px-4 text-xs lg:text-lg">
        <p>Email: <a href="mailto:info@bruiserslegacy.org" class="underline">
            info@bruiserslegacy.org</a></p>
        <p>Phone: <a href="tel:+19208895748" class="underline">920-889-5748</a></p>
        <p>Address: Random Lake, WI, USA</p>
      </div>
      <div class="w-[50 felx flex-col">
        <div class="text-xs lg:text-lg lg:pr-4">
          <p>Looking for your new best friend? Meet some of the amazing dogs
            waiting for their forever homes.</p>
        </div>
        <nav class="py-6">
          <a href="/about">About Us</a> |
          <a href="/mission">Our Mission</a> |
          <a href="/donate">Get Involved</a> |
          <a href="contact.html">Contact Us</a>
        </nav>
      </div>
    </div>

    <div class="flex justify-end -mb-2 px-8">
      <p class="text-[#b2e6ce] text-7xl">bruiser's
        legacy</p>
    </div>
    <div class="flex justify-end bg-[#b2e6ce] px-8">
    <p class="px-2 py-4 text-sm">&copy; {today.getFullYear()} Erwin Interactive</p>
    </div>
  </div>
</footer>
